<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="WebAutoForce">

<listeners>
<listener class-name ="Util.CustomListener"/> 
</listeners>
 
 <suite-files>
   <suite-file path="./SuiteA.xml"  />
  </suite-files>
  
 <suite-files>
   <suite-file path="./SuiteB.xml"  />
  </suite-files>
  

</suite>
